<?xml version='1.0' encoding='utf-8'?>

<launch>

     <!-- 启动相机节点  -->
    <include file="$(find usb_cam)/launch/usb_cam-test.launch"/>

    <node pkg="object_detect" name="arm_grasp" type="arm_grasp.py" output="screen">
        <remap from="input_rgb_image" to="/usb_cam/image_raw" />
    </node>


    <!--node pkg="object_detect" name="obj_grasp" type="obj_grasp.py" output="screen">
        <remap from="input_rgb_image" to="/usb_cam/image_raw" />

        <param name="side_length" value="34.4"/>
    </node-->

    <!-- 启动订阅cv_bridge_image话题  -->
    <node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view" args="/usb_cam/image_raw"/>

</launch>
